<div class="order-container">
  <mat-card class="order-card">
    <div class="order-text">
      <span>Your order</span>
    </div>
    <div *ngIf="order">
      <div class="order-products">
        <div class="product" *ngFor="let productEntry of order.products">
          <div class="product-amount">{{productEntry.amount}}x</div> 
          <div class="product-name">{{productEntry.product.name}}</div>
          <div class="product-amount-contol">
            <img src="assets/images/remove_circle_outline-24px.svg" (click)="decrementProduct(productEntry)">
            <img src="assets/images/add_product.svg" (click)="incrementProduct(productEntry)">
          </div>
        </div>
      </div>
      <div class="total">
        <span>Products TOTAL: {{order.total}}$</span>
        <button mat-stroked-button class="order-btn" (click)="doneOrder()">Order</button>
      </div>
    </div>
  </mat-card>
</div>