.order-card {
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.20);
}

.order-text {
  display: flex;
  justify-content: center;

  font-size: 1.8rem;
  font-weight: 700;
  color: #403d39;
  text-decoration: underline;

  margin: 20px !important;
}

.product {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  font-size: 1rem;
  padding: 2% 0;
}

.product-amount {
  display: flex;
  flex-grow: 1;
  flex-basis: 25%;
  font-size: 1.2rem;
  align-items: center;
  justify-content: flex-start;
}

.product-name {
  display: flex;
  font-size: 1.2rem;
  flex-grow: 2;
  flex-basis: 50%;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.product-amount-contol {
  display: flex;
  flex-grow: 1;
  flex-basis: 25%;
  align-items: center;
  justify-content: flex-end;
}

.order-btn {
  font-size: 1rem;
  padding: 2px 15px;
  border-color: #028090;
  color: #028090;
  outline: none;
  align-self: center;
  justify-content: center;
  margin-bottom: 1%;
}

.total {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 500;
}

.total span {
  margin: 20px 0px;
}