.header {
  background-color: #e56b6f;
}

.brand {
  color: white;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 700;
}

.spacer {
  flex: 1 1 auto;
}

.account-icon {
  height: 40px;
  width: 40px;
  cursor: pointer;
  outline: none;
}

.logout-icon {
  height: 40px;
  width: 40px;
  cursor: pointer;
  margin: 0 15px;
  outline: none;
}

.sign-in-btn {
  color: #028090;
  outline: none;
}

.sign-up-btn {
  color: #003049;
  outline: none;
  margin: 0 15px;
}