<mat-toolbar class="header">
  <mat-toolbar-row>
    <a class="brand" [routerLink]="['/']" routerLinkActive="router-link-active">Food <span class="second-word">Delivery</span></a>
    <span class="spacer"></span>
    
    <div *ngIf="isAuthenticated else elseBlock">
      <img [routerLink]="['/profile']" routerLinkActive="router-link-active"  src="assets/images/account.svg" class="account-icon" alt="profile" title="profile"> 
      <img (click)="logout()" src="assets/images/logout.svg" class="logout-icon" alt="logout" title="logout"> 
    </div>

    <ng-template #elseBlock>
      <button mat-raised-button class="sign-in-btn" [routerLink]="['/login']" routerLinkActive="router-link-active" >Sign In</button>
      <button mat-raised-button class="sign-up-btn" [routerLink]="['/register']" routerLinkActive="router-link-active" >Sign Up</button>
    </ng-template>

  </mat-toolbar-row>
</mat-toolbar>
