.main-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  width: 100%;
  padding: 2% 15% 0 15%;
}

.supplier-header {
  flex-basis: 100%;
  margin: 2% 0 4% 0;
}

.supplier-header .name {
  font-size: 3rem;
  font-weight: 700;
  color: #403d39;
}

.supplier-header .address {
  display: block;
  padding-top: 12px;
  font-size: 1.2rem;
}

.products-container {
  /*flex-grow: 3;*/
  margin-right: 2%;
  margin-bottom: 5%;
  flex: 2 1 50%;
}

.order-container {
  /*flex-grow: 1;*/
  flex: 1 1 25%;
}

.group-name {
  font-size: 1.1rem;
  font-weight: 500;
}

.products-panel {

}

.product-title-container {
  display: flex;
  flex-direction: column;
}

.product-title {
  display: flex;
  flex-direction: row;
  
  justify-content: space-between;
  align-items: center;
}

.product-title-name {
  font-size: 1.1rem;
  font-weight: 500;
}

.product-tile {
  overflow: visible;
}

.product-card {
  border-radius: 10px 10px;
  margin: 0 3%;
  height: calc(100% - 70px);
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.20);
}

.product-card:hover {
  transition: 0.1s;
  transform: scale(1.02);

  box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.20);
}
 
.product-img {
  height: 80%;
}

.product-add-icon {
  cursor: pointer;
  width: 25px;
  height: 25px;
}

.mat-expanded .group-name {
  transition: 0.3s;
  margin-top: 15px;
  font-size: 1.8rem;
}