<div class="main-container">
  <div class="supplier-header">
    <span class="name">{{supplier.name}}</span><br>
    <span class="address">{{supplier.address}}</span>
  </div>
  <div class="products-container">
    <mat-accordion class="products-panel">
      <mat-expansion-panel *ngFor="let group of products | keyvalue">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span class="group-name">{{group.key}}</span>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-grid-list cols=2 rowHeight="350px">

          <mat-grid-tile *ngFor="let product of group.value" class="product-tile">
            <mat-card class="product-card">
              <img mat-card-image [src]="product.imageUrl" class="product-img">
              <mat-card-content>
                <div class="product-title-container">
                  <div class="product-title">
                    <div class="product-title-name">{{product.name}}</div>
                    <img class="product-add-icon" src="assets/images/add_product.svg" (click)="addProductToOrder(product)">
                  </div>
                  <div class="product-desc">
                    {{product.price}}$ ... {{product.dimensions.weight}}g
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          </mat-grid-tile>

        </mat-grid-list>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div class="order-container">
    <app-current-order (orderReadyEvent)="setOrderReady()"></app-current-order>
  </div>
</div>