<div *ngIf="isLoaded else elseBlock">
  <div class="search-container">
    <h1 class="search-text">Find your favourite restaurant</h1>
    <form class="search" [formGroup]="searchForm">
      <mat-form-field class="full-width">
        <mat-label class="search-label">Search</mat-label>
        <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto" class="search-field">

        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option.tip}}
          </mat-option>
        </mat-autocomplete>

      </mat-form-field>
      <img src="assets/images/search.svg" class="search-icon" (click)="search()">
    </form>
  </div>

  <div class="top-container">
    <div class="top-suppliers">
      <div *ngIf="topSuppliers?.length > 0">
        <div class="top-text"><span>Top restaurants</span></div>

        <mat-grid-list cols=3 rowHeight="300px">

          <mat-grid-tile *ngFor="let topSupplier of topSuppliers" class="supplier-tile">
            <mat-card class="supplier-card" (click)="goToSupplier(topSupplier)">
              <mat-card-header>
                <mat-card-title>
                  {{topSupplier.name}}
                </mat-card-title>
              </mat-card-header>
              <img mat-card-image [src]="topSupplier.imageUrl">
            </mat-card>
          </mat-grid-tile>

        </mat-grid-list>

      </div>
    </div>
  </div>
  <div class="all-link-container">
    <button mat-stroked-button [routerLink]="['/suppliers']" routerLinkActive="router-link-active">All restaurants <img
        src="assets/images/arrow.svg"></button>
  </div>
</div>
<ng-template #elseBlock>
  <div class="spinner">
    <mat-spinner></mat-spinner>
    <div class="loading-text">
      Please wait
    </div>
  </div>
</ng-template>