.search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 4%;
}

.search {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-top: 20px;
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  align-self: center;
}

.full-width {
  width: 100%;
}

.search-icon {
  cursor: pointer;
  margin-left: 15px;
  width: 35px;
  height: 35px;
}

.search-field {
  font-size: 1.5rem;
}

.search-label {
  font-size: 1.1rem;
}

::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple {
  background-color: #028090 !important;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: #403d39 !important;
}

.search-text {
  color: #403d39;
  margin-top: 4%;
  align-self: center;
  font-size: 2rem;
  font-weight: 700;
}

.top-container {
  width: 100%;
  padding: 2% 15% 0 15%;
}

.top-text {
  color: #403d39;

  display: flex;
  justify-content: center;

  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1%;
}

.supplier-tile {
  padding: 0;
}

.supplier-card {
  width: calc(100% - 50px);
  height: calc(100% - 50px);
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.20);
}

.supplier-card img {
  object-fit: cover;
  border-radius: 0 0 5px 5px;
  height: calc(92% + 2px);
}

.supplier-card:hover {
  cursor: pointer;
  
  transition: 0.1s;
  transform: scale(1.02);
  box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.20);
}

.all-link-container {
  display: flex;

  justify-content: center;
  align-items: center;

  margin: 2% 0 5% 0;
}

.all-link-container button {
  font-size: 1.2rem;
  color: #403d39;
  height: 55px;
  width: 250px;
  border-color: #028090;
  color: #028090;
  outline: none;
}

.all-link-container img {
  align-self: center;
  width: 40px;
  height: 40px;
}

.spinner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.spinner ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
  stroke: #e56b6f;
}

.loading-text {
  font-size: 1.5rem;
  font-weight: 500;
  color: #9b9c9b;
  padding-top: 30px;
}