.form-container {
  display: flex;
  height: 80vh;
  width: 100%;
  justify-content: center; 
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 450px;
  width: 400px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.form-field {
  font-size: 1rem;
  width: 300px;
}

.form-sign-in-btn {
  font-size: 1rem;
  padding: 5px 20px;
  align-self: center;
  background-color: #028090;
}

.error-message {
  font-size: 1rem;
  color: crimson;
  margin-top: 20px;
}

::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple {
  background-color: #028090 !important;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: #403d39 !important;
}