<div class = "form-container">
  <form [formGroup]="loginForm" class="form">

    <h1>Sign In</h1>

    <h3><a [routerLink]="['/register']" routerLinkActive="router-link-active" >Create account</a></h3>

    <mat-form-field class="form-field" hideRequiredMarker="true">
      <mat-label>Email</mat-label>
      <input matInput placeholder="email" formControlName="email" placeholder="email@email.com">
      <mat-error>You must enter a valid email</mat-error>
    </mat-form-field>

    <mat-form-field class="form-field" hideRequiredMarker="true">
      <mat-label>Password</mat-label>
      <input matInput placeholder="password" 
            formControlName="password" 
            hideRequiredMarker="true" 
            type="password">
      <mat-error>You must enter a valid password</mat-error>
    </mat-form-field>

    <button class="form-sign-in-btn"
            color="primary"
            mat-raised-button
            [disabled]="!loginForm.valid"
            (click)="login()">Sign In</button>

    <div *ngIf="isError" class="error-container">
      <p class="error-message">Incorrect email or password</p>
    </div>
  </form>
</div>
