.not-found {
  display: flex;
  height: 80vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  font-weight: 700;
  color: #403d39;
}

.not-found span {
  cursor: pointer;
  outline: none;
}