<div class = "form-container">
  <form [formGroup]="registrationForm" class="form">

    <h1>Sign Up</h1>

    <mat-form-field class="form-field" hideRequiredMarker="true">
      <mat-label>First name</mat-label>
      <input matInput formControlName="firstName" placeholder="test">
      <mat-error>You must enter a valid firstName</mat-error>
    </mat-form-field>

    <mat-form-field class="form-field" hideRequiredMarker="true">
      <mat-label>Last name</mat-label>
      <input matInput formControlName="lastName" placeholder="test">
      <mat-error>You must enter a valid lastName</mat-error>
    </mat-form-field>

    <mat-form-field class="form-field" hideRequiredMarker="true">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" placeholder="email@email.com">
      <mat-error>You must enter a valid email</mat-error>
    </mat-form-field>

    <mat-form-field class="form-field" hideRequiredMarker="true">
      <mat-label>Password</mat-label>
      <input matInput placeholder="password" 
            formControlName="password" 
            hideRequiredMarker="true" 
            type="password">
      <mat-error>You must enter a valid password</mat-error>
    </mat-form-field>

    <button class="form-sign-up-btn"
            color="primary"
            mat-raised-button
            [disabled]="!registrationForm.valid"
            (click)="register()">Sign Up</button>

    <div *ngIf="isError" class="error-container">
      <p class="error-message">User already exists</p>
    </div>
  </form>
</div>

