.all-container {
  width: 100%;
  padding: 2% 15% 0 15%;
  margin-bottom: 5%;
  /* box-shadow: 0 12px 17px 2px rgba(0,0,0,0.14), 0 5px 22px 4px rgba(0,0,0,0.12), 0 7px 8px -4px rgba(0,0,0,0.20); */
}

.all-text {
  color: #403d39;

  display: flex;
  justify-content: center;

  font-size: 2.5rem;
  font-weight: 600;
}

.all-text span {
  display: block;
  padding: 15px;
}

.supplier-tile {
  padding: 0;
}

.supplier-card {
  width: calc(100% - 50px);
  height: calc(100% - 50px);
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.20);
}

.supplier-card img {
  object-fit: cover;
  border-radius: 0 0 5px 5px;
  height: calc(92% + 2px);
}

.supplier-card:hover {
  cursor: pointer;
  
  transition: 0.1s;
  transform: scale(1.02);

  box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.20);
}

.tags-container {
  display: flex;
  justify-content: center;
  margin: 2% 0;
}

.no-supplier {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 50vh;
  font-size: 2rem;
}