<div class="all-container">
  <div class="all-suppliers">
    <div class="all-text"><span>{{currentTag}} restaurants</span></div>

    <div class="tags-container">
      <mat-chip-list>
        <mat-chip *ngFor="let tag of tags" [ngStyle]="{'background-color': getRandomColor(tag)}"
          (click)="setCurrentTag(tag)" class="chip-item">{{tag}}</mat-chip>
      </mat-chip-list>
    </div>

    <div *ngIf="suppliers?.length > 0 else elseBlock">
      <mat-grid-list cols=3 rowHeight="300px">

        <mat-grid-tile *ngFor="let supplier of suppliers" class="supplier-tile">
          <mat-card class="supplier-card" (click)="goToSupplier(supplier)">
            <mat-card-header>
              <mat-card-title>
                {{supplier.name}}
              </mat-card-title>
            </mat-card-header>
            <img mat-card-image [src]="supplier.imageUrl">
          </mat-card>
        </mat-grid-tile>

      </mat-grid-list>
    </div>

    <ng-template #elseBlock>
      <div class="no-supplier">
        {{currentTag}} restaurants not found. Sorry :(
      </div>
    </ng-template>

  </div>
</div>