<!--<div *ngIf="user">
  <div class="profile">
    <h2>{{user.firstName}} {{user.lastName}}</h2>
    <p>{{user.email}}</p>
    <p>{{user.address}}</p>
    <div *ngIf="orders?.length > 0">
      <div class="orders">
        <h2>Orders:</h2>
        <div *ngFor="let order of orders">
          <p>{{order.id}} {{order.status}} {{order.total}}</p>
        </div>
      </div>
    </div>
  </div>
</div>-->

<div *ngIf="user">
  <div class="main-profile-container">
    <div class="user-info">
      <span class="first-name">{{user.firstName}}</span>
      <span class="last-name">{{user.lastName}}</span>
      <span class="email-label">email: <span class="email">{{user.email}}</span></span>
    </div>
    <div class="order-container">

      <div class="order-header">
        Your orders
      </div>

      <div *ngIf="(orders?.length > 0) else elseBlock" class="order-details">
        <mat-accordion class="order-panel">
          <mat-expansion-panel *ngFor="let order of orders">
            <mat-expansion-panel-header [ngClass]="{ 'in-progress': order.status == 'IN_PROGRESS', 'done': order.status == 'DONE' }">
              <mat-panel-title>
                <span class="order-name">Order id: {{order.id}}</span>
              </mat-panel-title>
              <mat-panel-description>
                <span class="order-date">Creation date: {{order.creationDate}}</span>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <div class="products-list">
              <mat-list>
                <div mat-subheader>Products</div>
                <div *ngFor="let productEntry of order.products" class="product-entry">
                  <mat-list-item>
                    <span class="product-name">{{productEntry.product.name}}</span>
                    <span class="product-amount">{{productEntry.amount}}x</span>
                    <span class="product-price">{{productEntry.amount * productEntry.product.price}}$</span>
                  </mat-list-item>
                </div>
                <mat-list-item>
                  <div class="order-info">
                    <div class="order-status">
                      <span class="order-status-header">Order status:</span> 
                      {{ (order.status.charAt(0).toUpperCase() + order.status.slice(1).toLowerCase()).replace('_', ' ') }}
                    </div>
                    <div class="order-total">
                      <span class="order-total-header">Products TOTAL:</span> 
                      {{order.total}}$
                    </div>
                  </div>
                </mat-list-item>
              </mat-list>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>

      <ng-template #elseBlock>
        <div class="no-orders">
          You have no orders yet :(
        </div>
      </ng-template>

    </div>
  </div>
</div>