.main-profile-container {
  display: flex;

  width: 100%;
  padding: 3% 15% 0 15%;

  color: #403d39;
}

.user-info {
  display: flex;
  flex-direction: column;

  flex: 1 1 30%;
}

.user-info .first-name {
  font-size: 3rem;
}

.user-info .last-name {
  font-size: 2rem;
  margin: 4% 0 5% 0;
}

.user-info .email {
  font-size: 1.5rem;
}

.order-container {
  flex: 2 1 60%;
  margin-bottom: 8%;
}

.order-header {
  font-size: 2rem;
  font-weight: 700;
  text-decoration: underline;
}

.order-details {
  margin-top: 7%;
}

.product-entry {
  display: flex;
  flex-direction: row;
  padding-left: 10px;
}

.product-name {
  flex: 1 1 20%;
}

.product-amount {
  flex: 1 1 20%;
}

.product-price {
  flex: 1 1 20%;
}

.done {
  background-color: #c9e4de !important;
  transition: 0.1s;
}

.in-progress {
  background-color: #faedcb !important;
  transition: 0.1s;
}

.in-progress:hover {
  transition: 0.1s;
  background-color: #faf3dd !important;
}

.done:hover {
  transition: 0.1s;
  background-color: #d8e7e7 !important;
}

.no-orders {
  margin-top: 7%;
  font-size: 1.2rem;
}

.order-info {
  display: flex;
  width: 100%;
  flex-direction: row;
}

.order-total-header, .order-status-header {
  font-size: 0.9rem;
  font-weight: 500;
}

.order-status {
  flex: 1 1 40%;
}

.order-total {

  flex: 1 1 auto;
}